includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - vendor
    ignoreErrors:
        - identifier: missingType.iterableValue
